__pycache__

bak/
tools/
doc/

projects/*
!projects/default/
!projects/default/**

data/binary/exes_more/
data/source/payload/
data/binary/exes/*

log-*
*.verify.exe
*.verify.dll
*.infected.exe
*.test.exe

main.obj
mlink$.lnk
