ansi2html==1.9.2
Brotli==1.1.0
capstone==5.0.5
Flask==3.1.1
intervaltree==3.1.0
Jinja2==3.1.5
keystone_engine==0.9.2
pefile==2024.8.26
Pygments==2.19.1
PyYAML==6.0.2
r2pipe==1.9.4
Requests==2.32.4
Werkzeug==3.1.3
