<!DOCTYPE html>
<html>
  <head>
    {% include 'header.html' %}
  </head>
  <body>
    {% include 'navigation.html' %}

    <div class="indent">

    Injectables in <code>data/binary/injectables</code>

    {% for injectable in injectables %}
        <h3>{{injectable['name']}}</h3>
        <a href="/injectables/{{injectable['name']}}">More details</a>

        <table class="table">
            <tr>
                <th>name</th>
                <th>raw size</th>
            </tr>
            {% for section in injectable['sections'] %}
            <tr>
                <td>{{section['name']}}</td>
                <td>{{section['raw_size']}}</td>
            </tr>
            {% endfor %}
        </table>
    {% endfor %}
    </table>

